body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
}
body:has(.backdrop.is-open) {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding: 120px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.16667;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header > .container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.header-log {
  color: #2e2f42;
  padding-top: 24px;
}

.header-log span {
  color: #4d5ae5;
}
.nav-menu {
  text-decoration: none;
  display: flex;
  margin-left: 76px;
}
.nav-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-right: 40px;
}
.link {
  color: #2e2f42;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.active {
  position: relative;
  color: #404bbf;
}
.link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #404bbf;
}
.text-adress {
  display: flex;
  gap: 40px;
}
.list {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list:focus {
  color: #404bbf;
}
.list:hover {
  color: #404bbf;
}
.contact-adress {
  padding-top: 24px;
}

/* #endregion */
/* #region Effect Solutions */
.effect-solutions {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content-solution {
  display: block;
  margin: 0 auto;
  max-width: 496px;
  text-align: center;
}
.ef-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: white;
}
.btn-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: white;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order:focus {
  background-color: #404bbf;
}
.btn-order:hover {
  background-color: #404bbf;
}
/* #endregion */
/* #region Our Features */
.group-list {
  display: flex;
  gap: 24px;
}
.features-list {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features-wrraper-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;

  height: 112px;
}
.features-icon {
  margin: 24px 100px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-des {
  display: flex;
}
.exp-team {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team-list {
  margin-right: 24px;
  display: block;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.team-soc-item {
  display: block;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-item:hover {
  background-color: #404bbf;
}
.team-soc-item:focus {
  background-color: #404bbf;
}
.team-soc-svg {
  margin: 12px 12px;
  color: white;

  fill: currentColor;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* #endregion */
/* #region Portfolio */
.port-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list {
  background-color: white;
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .port-wraper {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-list:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list:hover .port-img {
  background-color: #4d5ae5;
}
.portfolio-list:hover .portfolio-image {
  overflow: visible;
}
.port-des {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.port-pos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-top: 72px;
}
.port-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.port-img {
  position: relative;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-wraper {
  padding: 40px 32px;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  opacity: 0;
  color: #f4f4fd;
  overflow: hidden;
  width: 360px;
  height: 300px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */
/* #region Footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-des {
  width: 264px;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-logo span {
  color: #4d5ae5;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
}

.footer-social {
  min-width: 208px;
}
.footer-content {
  display: flex;
  align-items: baseline;
  gap: 120px;
}
.footer-social-icons {
  margin-top: 16px;
}
.footer-wrraper-icons {
  display: flex;
  gap: 16px;
}

.footer-icon-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-svg {
  color: white;
  fill: currentColor;
  margin: 8px 8px;
}
.footer-icon-link:hover {
  background-color: #31d0aa;
}
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.logo-soc-med {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
}
.footer-form-input {
  outline: transparent;
  background-color: transparent;
  border: 1px solid;
  border-color: white;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 0 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input:focus,
.footer-form-input:hover {
  border-color: #31d0aa;
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
}
.footer-form-con {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}
.footer-sub-icon {
  fill: white;
}

.footer-btn-text {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
}

/* #endregion */
/* #region Backdrop */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
}
.title-backdrop {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: none;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: white;
  background-color: #404bbf;
}
.modal-btn-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 8px 8px;
  color: #2e2f42;
}
.feedback-wrapper {
  margin-bottom: 8px;
}
.feedback-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.feedback-input {
  padding: 0 32px;
  width: 100%;
  height: 40px;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus {
  border-color: #4d5ae5;
}
.feedback-field {
  position: relative;
}
.feedback-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus + .feedback-icon {
  fill: #4d5ae5;
}
.feedback-comment {
  width: 100%;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  resize: none;
}
.feedback-comment::placeholder {
  color: #2e2f42;
}
.feedback-comment:focus {
  border-color: #4d5ae5;
}
.feedback-agreement {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.feedback-toggler {
  border-radius: 2px;
  border: 1px solid #2e2f42;
  display: inline-flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  height: 100vh;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.feedback-link {
  color: #4d5ae5;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.feedback-checked:checked + .feedback-toggler {
  background-color: #4d5ae5;
  border-color: transparent;
}
.feedback-toggler-icon {
  opacity: 0;
  fill: white;
}
.feedback-checked:checked + .feedback-toggler > .feedback-toggler-icon {
  opacity: 1;
}
.btn-fotm-send {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  color: white;
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-fotm-send:hover,
.btn-fotm-send:focus {
  background-color: #404bbf;
}
/* #endregion */
