body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
}
body:has(.backdrop.is-open) {
  overflow: hidden;
}
body:has(.mobile-menu.is-open) {
  overflow: hidden;
}
.hide {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 0;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.16667;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  flex-grow: 1;
}
@media only screen and (max-width: 767.98px) {
  .nav {
    justify-content: space-between;
  }
}
.header-log {
  color: #2e2f42;
  padding: 16px;
}
@media only screen and (min-width: 768px) {
  .header-log {
    padding: 24px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .header-log {
    padding: 24px 0;
  }
}
.header-log span {
  color: #4d5ae5;
}
.nav-menu {
  text-decoration: none;
  display: flex;
  margin-left: 120px;
}
@media only screen and (min-width: 1158px) {
  .nav-menu {
    margin-left: 76px;
  }
}
@media only screen and (max-width: 767.98px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-right: 40px;
}
.link {
  color: #2e2f42;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.active {
  position: relative;
  color: #404bbf;
}
.link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #404bbf;
}
.text-adress {
  /*display: flex;
  gap: 40px;*/
  display: block;
  margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  .text-adress {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .text-adress {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
  }
}
.list {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 1158px) {
  .list {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.list:focus {
  color: #404bbf;
}
.list:hover {
  color: #404bbf;
}

@media only screen and (max-width: 767.98px) {
  .contact-adress {
    display: none;
  }
}

/* #endregion */
/* #region Effect Solutions */
.effect-solutions {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .effect-solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mob@2x.png);
  }
}
@media only screen and (min-width: 768px) {
  .effect-solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tab@1x.png);
    padding: 112px 0;
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .effect-solutions {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/tab@2x.png);
    }
  }
}
@media only screen and (min-width: 1158px) {
  .effect-solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/main@1x.png);
    padding: 188px 0;
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .effect-solutions {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/main@2x.png);
    }
  }
}
.content-solution {
  display: block;
  margin: 0 auto;
  max-width: 216px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .content-solution {
    max-width: 496px;
  }
}
.ef-title {
  width: 216px;
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .ef-title {
    font-size: 56px;
    line-height: 1.07143;
    width: 496px;
  }
}

.btn-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: white;
  margin-top: 72px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .btn-order {
    margin-top: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .btn-order {
    margin-top: 48px;
  }
}
.btn-order:focus {
  background-color: #404bbf;
}
.btn-order:hover {
  background-color: #404bbf;
}
/* #endregion */
/* #region Our Features */
.group-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .group-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .group-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}
.features-list {
  flex-direction: column;
  gap: 8px;
  display: flex;
  width: 288px;
}
@media only screen and (min-width: 768px) {
  .features-list {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    width: 264px;
  }
}
.features-wrraper-icon {
  display: none;
}
@media only screen and (min-width: 768px) {
  .features-wrraper-icon {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .features-wrraper-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: block;
    height: 112px;
  }
}
.features-icon {
  margin: 24px 100px;
}
.features-title {
  /*font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;*/
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
@media only screen and (min-width: 768px) {
  .features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media only screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
  }
}
/* #endregion */
/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-des {
  /*display: flex;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-des {
    column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-des {
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }
}
.exp-team {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team-list {
  display: block;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.team-soc-item {
  display: block;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-item:hover {
  background-color: #404bbf;
}
.team-soc-item:focus {
  background-color: #404bbf;
}
.team-soc-svg {
  margin: 12px 12px;
  color: white;

  fill: currentColor;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* #endregion */
/* #region Portfolio */
.port-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  background-color: white;
  width: 288px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    width: 360px;
    box-shadow: none;
  }
}
.portfolio-list:hover .port-wraper {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-list:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list:hover .port-img {
  background-color: #4d5ae5;
}
.portfolio-list:hover .portfolio-image {
  overflow: visible;
}
@media only screen and (min-width: 768px) {
  .portfolio-image {
    width: 356px;
    height: 300px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-image {
    width: 360px;
    height: 300px;
  }
}
.port-des {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.port-pos {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 72px;
}
@media only screen and (min-width: 768px) {
  .port-pos {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .port-pos {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
.port-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.port-img {
  position: relative;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-wraper {
  padding: 40px 32px;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  opacity: 0;
  color: #f4f4fd;
  overflow: hidden;
  width: 288px;
  height: 300px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .port-wraper {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .port-wraper {
    width: 360px;
  }
}
/* #endregion */
/* #region Footer */
.footer {
  display: block;
  padding: 96px 0;

  background-color: #2e2f42;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    max-width: 584px;

    align-items: baseline;

    margin: auto;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-content {
    max-width: 1158px;
    justify-content: flex-start;
    column-gap: 0;
  }
}
.footer-des {
  width: 264px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #f4f4fd;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    justify-content: flex-start;
  }
}
.footer-logo span {
  color: #4d5ae5;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
}

.footer-social {
  margin-top: 72px;

  min-width: 208px;
}
@media only screen and (min-width: 768px) {
  .footer-social {
    margin-top: 0;
    margin-left: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-social {
    margin-left: 120px;
    margin-right: auto;
  }
}
.footer-wrraper-icons {
  display: flex;
  gap: 16px;
}

.footer-icon-link {
  display: block;
  gap: 16px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-svg {
  color: white;
  fill: currentColor;
  margin: 8px 8px;
}
.footer-icon-link:hover {
  background-color: #31d0aa;
}
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-form {
  margin-top: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    margin-right: auto 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form {
    margin-top: 0;
  }
}
.logo-soc-med {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .logo-soc-med {
    text-align: left;
  }
}

.footer-form-wrraper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-form-wrraper {
    display: flex;
    flex-direction: row;

    gap: 22px;
  }
}
.footer-form-title {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: white;
}
@media only screen and (min-width: 768px) {
  .footer-form-title {
    text-align: left;
  }
}
.footer-form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
}
.footer-form-input {
  outline: transparent;
  background-color: transparent;
  border: 1px solid;
  border-color: white;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 0 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

.footer-form-input:focus,
.footer-form-input:hover {
  border-color: #31d0aa;
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
}
.footer-form-con {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}
.footer-btn {
  display: flex;
  justify-content: center; /* Центр по горизонтали */
  align-items: center;
  margin: 0 auto;

  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}
.footer-sub-icon {
  fill: white;
}

.footer-btn-text {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
}

/* #endregion */
/* #region Backdrop */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 16px 24px 16px;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
.title-backdrop {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.modal-btn {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  fill: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: white;
  background-color: #404bbf;
}

.modal-btn-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 8px 8px;
}

.feedback-wrapper:not(:last-child) {
  margin-bottom: 8px;
}

.feedback-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.feedback-wrraper-comment {
  padding-bottom: 16px;
}
.feedback-input {
  padding: 0 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus {
  border-color: #4d5ae5;
}
.feedback-field {
  position: relative;
}
.feedback-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus + .feedback-icon {
  fill: #4d5ae5;
}
.feedback-comment {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  resize: none;
}
.feedback-comment::placeholder {
  color: #2e2f42;
}
.feedback-comment:focus {
  border-color: #4d5ae5;
}
.feedback-agreement {
  display: block;

  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.feedback-toggler {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.feedback-link {
  color: #4d5ae5;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.feedback-checked:checked + .feedback-toggler {
  background-color: #404bbf;
  border-color: transparent;
}
.feedback-toggler-icon {
  opacity: 0;
  fill: #f4f4fd;
}
.feedback-checked:checked + .feedback-toggler > .feedback-toggler-icon {
  opacity: 1;
}
.btn-fotm-send {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-fotm-send:hover,
.btn-fotm-send:focus {
  background-color: #404bbf;
}
/* #endregion */
/* #region Mobilemenu */
.mobil-address-wrapper {
  font-style: normal;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px 16px;
  transform: translateX(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;

  padding: 72px 16px 40px 16px;
}*/
.mobile-menu-nav {
  margin-bottom: auto;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobil-address-wrapper {
  margin-bottom: 48px;
}
.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  color: #2e2f42;
}
.mobile-close-icon {
  stroke: currentColor;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-nav-link.active {
  color: #404bbf;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.accent-text {
  color: #404bbf;
}
.mob-soc-icons {
  gap: 40px;
}
/* #endregion */
